<div class="dashoard">
    <div class="title-container">
        <h2>Dashboard</h2>        
        <a href="/pensamentos/adicionar" class="btn">Criar Pensamentos</a>
    </div>
    <h3>Seus Pensamentos:</h3>
</div>